{
    "parser": "babel-eslint",
    "parserOptions": {
        "sourceType": "module",
        "allowImportExportEverywhere": true
    },
    "extends": "airbnb",
    "env": {
        "browser": true,
        "node": true
    },
    "rules": {
        "indent": [
            "error",
            4
        ],
        "consistent-return": "error",
        "comma-dangle": [
            "error",
            "never"
        ],
        "generator-star-spacing": "off",
        "import/no-unresolved": "error",
        "import/no-extraneous-dependencies": "off",
        "import/order": [
            "error",
            {
                "newlines-between": "always"
            }
        ],
        "no-console": "off",
        "promise/param-names": "error",
        "promise/always-return": "error",
        "promise/catch-or-return": "error",
        "promise/no-native": "off",
        "react/jsx-filename-extension": [
            "error",
            {
                "extensions": [
                    ".js",
                    ".jsx"
                ]
            }
        ],
        "react/prefer-stateless-function": "off",
        "react/jsx-indent": ["error", 4]
    },
    "plugins": [
        "import",
        "promise",
        "react"
    ],
    "settings": {
        "import/resolver": {
            "webpack": {
                "config": "./internals/webpack/webpack.config.eslint.js"
            }
        }
    }
}